.account-access {
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  z-index: 1000;
  padding: 0 ($grid-gutter-width * 2) ($grid-gutter-width * 2);
  opacity: 0;
  overflow: hidden;
  background: rgba($gray-dark, .93);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  transition: visibility 0s linear .5s, opacity .5s, backdrop-filter .15s;
  backdrop-filter: blur(0);
  @include media-breakpoint-down(sm) {
    padding: 0 ($grid-gutter-width / 2);
  }
  a {
    color: $primary-inverted;
    &:hover {
      color: darken($primary-inverted, 15%);
    }
  }
  .close-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: $header-height;
    @include media-breakpoint-down(sm) {
      height: $header-height-sm;
    }
  }
  .btn-close-account-access {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: $white;
    line-height: 1;
    i {
      line-height: 1;
      font-size: 50px;
      @include media-breakpoint-down(sm) {
        font-size: 36px;
      }
    }
  }
  .brokers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: $grid-gutter-width;
    .broker {
      background: rgba(#999, .7);
      display: flex;
      align-items: center;
      flex-flow: column;
      margin: 0 0 ($grid-gutter-width / 2);
      width: calc(50% - 7.5px);
      padding: ($grid-gutter-width / 2);
      transition: background 150ms;
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
      &:hover {
        background: rgba(#999, .4);
      }
      .broker-name {
        font-family: $font-family-sans-serif;
        font-size: $font-size-16;
        color: $white;
        display: block;
        i {
          line-height: 1;
          font-size: $font-size-16;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
      .broker-logo {
        height: 80px;
        margin: ($grid-gutter-width / 2) 0 $grid-gutter-width;
      }
    }
  }
  &.is--open {
    opacity: 1;
    height: 100%;
    visibility: visible;
    transition-delay: 0s;
    backdrop-filter: blur(10px);
  }
}
