.off-canvas-menu {
  background: rgba($gray-dark, .5);
  color: #fff;
  transition: background 0.35s linear,height 0.35s ease-in, transform .35s, backdrop-filter .25s;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 0 ($grid-gutter-width * 2) ($grid-gutter-width * 2);
  backdrop-filter: blur(0);
  @include media-breakpoint-down(sm) {
    left: 0;
    padding: 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2);
  }
  .menu-header {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
      height: $header-height-sm;
    }
  }
  .btn-close-menu {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: $white;
    line-height: 1;
    i {
      line-height: 1;
      font-size: 50px;
      @include media-breakpoint-down(sm) {
        font-size: 36px;
      }
    }
  }
  nav {
    text-align: right;
    a,
    button {
      background: transparent;
      border: 0;
      font-size: $font-size-42;
      font-family: $font-family-display;
      color: $white;
      opacity: .7;
      transition: color 150ms;
      display: block;
      text-decoration: none;
      line-height: 1.6666;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: right;
      cursor: pointer;
      @include media-breakpoint-down(sm) {
        font-size: $font-size-24;
      }
      &:hover {
        opacity: 1;
      }
      &.current-menu-item {
        opacity: 1;
      }
    }
    .btn-account-access {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
  &.is--open {
    transform: translateX(0);
    background: rgba($gray-dark, .93);
    backdrop-filter: blur(10px);
  }
}
