.page-masthead {
  background: $gray-dark;
  color: $white;
  padding: $header-height 0 ($grid-gutter-width * 2.66);
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 0 ($grid-gutter-width * 2);
  background-size: cover;
  background-position: 50% 50%;
  @include media-breakpoint-down(sm) {
    padding: $header-height-sm 0 $grid-gutter-width;
    margin: 0 0 $grid-gutter-width;
  }
  .masthead-content {
    margin-top: ($grid-gutter-width * 2);
    @include media-breakpoint-down(sm) {
      margin-top: $grid-gutter-width;
    }
    .page-title {
      color: $white;
      font-family: $font-family-display;
      font-size: $font-size-display;
      letter-spacing: .5px;
      line-height: 1.125;
      margin: 0;
      @include media-breakpoint-down(md) {
        font-size: $font-size-display-md;
      }
      @include media-breakpoint-down(sm) {
        font-size: $font-size-display-sm;
      }
      @include media-breakpoint-down(xs) {
        font-size: $font-size-display-xs;
      }
    }
    .subtext {
      margin:  ($grid-gutter-width / 2) 0 0;
      font-size: $font-size-21;
      font-weight: 500;
      @include media-breakpoint-down(sm) {
        font-size: $font-size-base;
        line-height: 1.25;
      }
      p {
        font-size: $font-size-21;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-base;
          line-height: 1.25;
        }
        &:last-child {
          margin: 0;
        }
      }
      a {
        color: $white;
        text-decoration: underline;
        &:hover {
          color: $white;
        }
      }
    }
  }
}


// slim
.archive.category,
.archive.date,
.archive.tag,
.archive.author,
.single-post,
.single-investor_insight {
  .page-masthead {
    padding: $header-height 0 $grid-gutter-width;
    @include media-breakpoint-down(sm) {
      padding: $header-height-sm 0 $grid-gutter-width;
    }
    .masthead-content {
      margin-top: $grid-gutter-width;
      .page-title {
        font-size: $font-size-30;
        display: inline-block;
        a {
          color: $white;
          i {
            margin-right: 10px;
          }
        }
      }
      .subtext {
        display: inline-block;
        margin-left: ($grid-gutter-width / 2);
      }
    }
  }
}
