:focus {
  outline: 0 !important;
}

body {

}

main {
  padding: 60px 0;
}

.container-fluid {
  @include media-breakpoint-up(xs) {
    padding: 0 15px;
  }
  @include media-breakpoint-up(md) {
    padding: 0 30px;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 30px;
  }
  @include media-breakpoint-up(xl) {
    padding: 0 60px;
  }
}
