.site-header {
  padding: 30px 0;
  position: relative;
  z-index: 100;
  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-logo {
    img {
      height: 55px;
    }
  }
  .site-navigation {
    display: flex;
    align-items: center;
  }
  .nav-quick-access {
    a,
    button {
      margin-right: 40px;
    }
    a {
      font-family: $font-family-sans-serif;
      color: $gray-dark;
      font-weight: 500;
      font-size: $font-size-15;
      &:hover {
        color: darken($gray-dark, 15%);
      }
    }
  }
  .btn-menu {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}

.site-header.inverse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  @include gradient-y($start-color: rgba(#07090A, .18), $end-color: rgba(#07090A, 0), $start-percent: 0%, $end-percent: 100%)
  .nav-quick-access {
    a {
      color: $white;
    }
  }
}
